input {
	width:250px;
}

body {
	background-color:#f5f5f5;
}

fieldset {
	padding-bottom:25px;
}

.info {
	border: 1px solid #e5e5e5;
	background-color:#fff;
	text-align: center;
	border-radius: 5px;
	width:350px;
	padding:10px;
}

#myCanvas{
	padding:10px;
}

.preview-wrap {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	margin:0 25px 25px 25px;
}

footer{
	clear:both;
}

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
