<html ng-app>
<head> 
<title>Meme Generator</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script src="js/console-image.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/script.js"></script>
</head>
<body>

<div ng-controller="ctrl">

<header class="offset5"><h1>MEME GENERATOR</h1></header>

	<div class="container-fluid">
    	<div class="preview-wrap span8"> 
	    		<h1> Preview </h1> 
	    		<div class="canvas"></div> 
	    </div>
	
    	<div class="info span4">
   		    <fieldset>
    			<legend><h2> Meme Settings</h2> </legend>
    			<input width="75px" type="text" id="toptext" ng-model='toptext' ng-change="alterMeme()" placeholder="top text"/>
    			<input type="text" id="bottomtext" ng-model='bottomtext' ng-change="alterMeme()" placeholder="bottom text"/>   	
    			<select id="meme-list" ng-model='selectedMeme' ng-change="alterMeme()"></select>
    			<button class="btn btn-large btn-primary" ng-click="createImage()">Create Image</button>	
    		</fieldset>
		</div>

     </div>

    <div class="modal hide fade" style="width:550px; height:500px;" id="outputModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h3> Picture Output</h3>
		</div>
		<div class="modal-body">
			<img class="img-polaroid" ng-src='{{download}}' id='imgtest'></img>
		</div>
		<div class="modal-footer">
			 <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   			 <button class="btn btn-primary">Save Image</button>
		</div>
 	</div>
 </div>


 <footer> 
 	by <a href="http://twitter.com/__rodan">@__rodan</a>
 </footer>
</body>
</html>