<html ng-app>
<head> 
<title>Meme Generator </title>
<script src="js/console-image.min.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/angular.min.js"></script>
</head>
<body >

<div ng-controller="ctrl">
    <div class="image"></div>
    <div class="info">
   	    
    	<input type="text" id="toptext" ng-model='toptext' ng-change="alterMeme()" placeholder="top text"/>
    	<input type="text" id="bottomtext" ng-model='bottomtext' ng-change="alterMeme()" placeholder="bottom text"/>
    	
    	<select id="meme-list" ng-model='selectedMeme' ng-change="alterMeme()"></select>
    	
    	<button ng-click="createImage()">Create Image</button>
    	<img ng-src='{{download}}' id='imgtest'></img>
    	
    	<script>

    		function ctrl($scope) {

	    			$scope.toptext = '';
	    			$scope.bottomtext = '';
	    			$scope.selectedMeme ='10 Guy';
	    			$scope.download = '#';

	    			$scope.alterMeme = function(){
	    				
	    				console.meme($scope.toptext,$scope.bottomtext,$scope.selectedMeme);	
	    				
	    			}
	    			$scope.createImage = function(){
	    				var canvas = document.getElementById('myCanvas');
	    				$scope.download = canvas.toDataURL();
	    			}
	    		}
	
			$(document).ready(function(){
				for(var meme in console.list){
					$('#meme-list').append('<option>'+meme+'</option>');
				}
			});

    		
    	</script>

    </div>

 </div>
</body>
</html>